@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfix:after {
  display: block;
  clear: both;
  content: ""; }

.header {
  height: 100px; }
  .header .header-content {
    width: 1200px;
    margin: 0 auto; }
    .header .header-content .logo {
      float: left;
      margin: 17px 0; }
    .header .header-content .header-nav {
      float: right;
      list-style: none;
      position: relative; }
      .header .header-content .header-nav li {
        float: left;
        margin-right: 60px;
        margin-top: 38px; }
        .header .header-content .header-nav li a {
          font-size: 14px;
          color: #5E5457; }
          .header .header-content .header-nav li a:hover {
            color: #FF943D; }
      .header .header-content .header-nav .list1 .pull-down {
        width: 186px;
        text-align: center;
        background: #FCFBFB;
        margin-left: -50px;
        margin-top: 40px;
        z-index: 10;
        position: absolute; }
        .header .header-content .header-nav .list1 .pull-down li {
          width: 186px;
          float: left;
          margin: 0;
          margin-top: 20px;
          display: none; }
          .header .header-content .header-nav .list1 .pull-down li a {
            font-size: 10px;
            color: #8A8989; }
            .header .header-content .header-nav .list1 .pull-down li a:hover {
              color: #3E83E1; }
          .header .header-content .header-nav .list1 .pull-down li:last-child {
            margin-bottom: 35px; }

.content .banner-box .banner {
  width: 100%; }
.content .banner-box .help {
  position: fixed;
  right: 0px;
  top: 304px;
  z-index: 11; }
.content .intro {
  width: 1200px;
  margin: 0 auto; }
  .content .intro .line {
    height: 1px;
    background: #CCCCCC;
    margin-top: 74px;
    position: relative; }
    .content .intro .line .product {
      width: 165px;
      text-align: center;
      background: #FFFFFF;
      position: absolute;
      top: -10px;
      left: 520px;
      margin-bottom: 8px; }
      .content .intro .line .product p {
        font-size: 18px;
        margin-bottom: 8px; }
      .content .intro .line .product span {
        font-size: 10px; }
  .content .intro .synopsis {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px; }
    .content .intro .synopsis .synopsis-left {
      float: left;
      width: 580px;
      margin: 85px 0;
      line-height: 25px; }
      .content .intro .synopsis .synopsis-left p {
        color: #666666;
        font-size: 16px;
        font-family: "微软雅黑"; }
    .content .intro .synopsis .synopsis-right {
      float: right; }
  .content .intro .advantage {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px; }
    .content .intro .advantage .advantage-right {
      float: right;
      width: 550px;
      margin: 85px 0;
      line-height: 25px; }
      .content .intro .advantage .advantage-right p {
        color: #666666;
        font-size: 14px;
        font-family: "微软雅黑"; }
      .content .intro .advantage .advantage-right .create {
        font-size: 20px;
        margin-bottom: 20px;
        color: #333333; }
    .content .intro .advantage .advantage-left {
      float: left; }
  .content .intro .friend {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px; }
    .content .intro .friend .friend-left {
      float: left;
      width: 550px;
      margin: 105px 0;
      line-height: 25px; }
      .content .intro .friend .friend-left p {
        color: #666666;
        font-size: 14px;
        font-family: "微软雅黑"; }
      .content .intro .friend .friend-left .create {
        font-size: 20px;
        margin-bottom: 20px;
        color: #333333; }
    .content .intro .friend .friend-right {
      float: right; }
.content .createshop {
  width: 1200px;
  margin: 0 auto; }
  .content .createshop .myShop {
    width: 260px;
    height: 50px;
    border: 3px solid #FE982D;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 90px;
    position: relative; }
    .content .createshop .myShop:hover {
      background: #FE982D; }
      .content .createshop .myShop:hover a {
        color: #FFFFFF; }
    .content .createshop .myShop a {
      text-decoration: none;
      color: #FE982D;
      font-size: 20px; }
    .content .createshop .myShop .circle1 {
      width: 30px;
      height: 23px;
      background: #FFD6AB;
      border-radius: 50%;
      padding-top: 7px;
      position: absolute;
      top: -15px;
      right: 30px; }
      .content .createshop .myShop .circle1 .circle2 {
        width: 16px;
        height: 16px;
        background: #FE982D;
        border-radius: 50%;
        margin: 0 auto; }

.footer {
  background: #212526;
  font-family: "Microsoft Yahei"; }
  .footer .shopcmd {
    width: 1200px;
    margin: 0 auto; }
    .footer .shopcmd .content {
      margin: 0 auto;
      width: 808px;
      padding: 35px 124px 0 140px;
      border-bottom: 1px solid #888888; }
      .footer .shopcmd .content ul {
        float: left;
        font-size: 14px;
        padding: 20px 0 0 0; }
        .footer .shopcmd .content ul li {
          padding: 0 14px;
          line-height: 14px;
          border-right: 1px solid #9AA8C3;
          float: left; }
          .footer .shopcmd .content ul li a {
            color: #ccc; }
            .footer .shopcmd .content ul li a:hover {
              color: #2288F6;
              text-decoration: underline; }
          .footer .shopcmd .content ul li:nth-child(6) a {
            color: #2288F6;
            text-decoration: underline; }
        .footer .shopcmd .content ul .last-li {
          border: 0; }
      .footer .shopcmd .content .phone {
        float: right;
        color: #888;
        font-size: 19px;
        line-height: 24px;
        height: 50px; }
        .footer .shopcmd .content .phone .text {
          line-height: 50px; }
          .footer .shopcmd .content .phone .text img {
            float: left;
            margin-top: 14px; }
          .footer .shopcmd .content .phone .text p {
            float: left;
            margin-left: 8px; }
  .footer .copy {
    color: #888888;
    padding: 18px 0;
    margin: 0 auto;
    width: 1200px;
    text-align: center; }
